Package: com.pantsthief.swizzle
Name: Swizzle
Pre-Depends: firmware (>= 8.0)
Depends: mobilesubstrate, com.pantsthief.flexing
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make tweaks from anywhere!
Maintainer: Tanner Bennett
Author: Tanner Bennett
Section: Tweaks
